/* --------Global Layout-------- */

body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  background: #f7f5f0;
}



/* --------General text styling-------- */

h1 {
    font-size: 1.6em;
    font-weight: 700;
}

h2 {
    font-size: 1.3em;
    font-weight: 800;
}

h3 {
    font-size: 1.5em;
    font-weight: 400;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.5;
}



/* --------Link styling-------- */

a {
   text-decoration: none;
    color: black;
}




/* --------Image styling-------- */

img {
    width: 90%;
}



/* --------Navigation-------- */

ul {
    list-style: none;
    margin-bottom: 50px;
}

li {
    padding: 18px 0;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
}

li a {
    display: inline-block;
    font-weight: 700;
    font-size: 1.2em;
}



/* --------Page layout-------- */

.page-header{
    text-align: center;
    width: 90%;
    margin: 0 auto;
}

.profile_pic {
    width: 60%;
}

.bio {
    padding-top: 40px;
    padding-bottom: 60px;
    color: dimgray;
}

.portfolio_wrapper {
    background-color: white;
    padding: 60px 0;
    margin: 0 auto 60px;
}

#portfolio,
#contact {
    margin-bottom: 60px;
}

.portfolio_wrapper p {
    margin: 0 auto 50px;
    width: 75%;
}

.skill_list {
    margin-bottom: 50px;
}

#contact_text {
    width: 85%;
    margin: 0 auto 40px;
    color: dimgrey;
    font-size: 1.2em;
}

.contact_label,
.contact_info {    
    display: inline-block;
}

.contact_label {
    margin-right: 20px;
    color: dimgrey;
    font-size: 1.3em;
}

.contact_info {
    color: black;
    font-size: 1.3em;
    font-weight: 800;
    color: dimgrey;
    
}

.page_footer {
    width: 90%;
    border-top: solid 2px lightgrey;
    margin: 50px auto 0;
}


.footer_name {
    font-size: 1.1em;
    font-weight: 800;
    float: left;
}


#toplink {
    font-size: 1.1em;
    font-weight: 800;
    line-height: 1.5;
    margin: 16px 0;
    float: right;
}


.bottom-nav {
    display: none;
}




/* --------Media Queries-------- */


@media (min-width: 768px) {
    

/*-- Make fonts a little smaller --*/    
    
    h1 {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 1.1em;
    }
    
    h3 {
        font-size: 1.3em;
    }
    
    p {
      font-size: 1.1em;
    }
    
    li a {
    font-size: 1em;
    }
    
    
    
    
/*-- Adjust header --*/   
   
    .header-name {
      display: block;
      margin: 20px auto;
    }
    
    
    .main-nav li,
    .bottom-nav li {
        display: inline-block;
        background-color: #f7f5f0;
        margin: auto 20px;
    }
    
    .main-nav li a {
        border-bottom: 2px solid rosybrown;
    }
    

    
/*-- Layout bio horizontally --*/       
    
   .profile_pic {
        width: 40%;
        max-width: 400px;
       margin-bottom: 50px;
        float: right;
    }
        
    .bio {
        width: 55%;
        float: left;
        padding-top: 0;
        margin-top: 0;
        text-align: left;
    }
    
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
 
    
    
/*-- Make 2 col layout --*/
    
    .col {
        display: inline-block;
        width: 50%;
        margin-right: -5px;
        vertical-align: top;
    }
    
    .portfolio_wrapper p {
        font-size: 0.9em;
    }

    
    #contact_text {
        width: 70%;
    }


    /*-- Change footer layout --*/

    
    .footer_name {
        font-size: 0.9em;
    }
    
    #toplink {
        display: none;
    }
    
    .bottom-nav {
        display: inline;
        float: right;
        margin: 0;
    }
    
    .bottom-nav li {
        padding: 12px 0;
    }
    
    .bottom-nav li a {
        font-size: 0.8em;
    }
    
}



@media (min-width: 1024px) {

    
/*-- Adjust header once more--*/  
    
    .header-name {
        float: left;
    }
    
    .main-nav {
        float: right;
    }
    
    .clearfix::after {
        content: "";
        display: table;
        clear: both;
    }
    
    .bio {
        width: 60%;
    }
 
    
/*-- Make 3 col layout --*/    
    
    .col {
        width: 33%;
    }
    
    .portfolio_wrapper p {
    width: 80%;
    }
}